# .github/workflows/docker-build.yml
name: Build & Push Docker Image

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push (avec ton bon Dockerfile)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile          # ← cette ligne est CRUCIALE
          push: true
          tags: rania975/demo-devops:latest
          build-args: --no-cache    # ← force un build propre à chaque fois