name: Docker CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t projet-devops .

      - name: Run container (test)
        run: docker run -d -p 8080:80 --name site-conteneur projet-devops
